{% extends 'base/auth_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center" style="background-color: #143547;">
                        <div id="error_div"></div>
                        <h3 class="fs-3 fw-bold my-4 text-center text-light">Offers Calculator</h3>
                        <h3 class="fs-4 my-4 text-center text-light">Forgot Password?</h3>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <p>Enter your e-mail address to obtain a new password.</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group my-3">
                                        <button type="submit" class="col-md-12 btn btn-primary">Send e-mail
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center" style="background-color: #143547;">
                        <div class="small">
                            <a class="text-light" href="{% url 'accounts:login' %}">Back To Login</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}