{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}USER DELETE{% endblock page_title %}

{% block content %}
    <!-- Page Heading -->
<div class="row mb-3">
    <div class="d-flex flex-row justify-content-between align-items-center col-md-12 ">
        <div class="col-md-8">
            <h1 class="h3 mb-0 text-gray-800">Delete User</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end mt-3 mb-0">
            <a class="btn btn-outline-success mb-4" href="{% url 'account:users' %}" role="button">Back</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
            <div class="col-md-4 offset-md-4">
                <h1 class="h4 mb-4 text-gray-800">Users Description</h1>
                <p>
                    The User Roles model in the Django web application defines four distinct roles: Administrators, CEO, Managers, and Employees.
                    <ul>
                        <li><b>Administrators</b> have full access to all features and settings, allowing them to manage the entire system.</li>
                        <li><b>CEO</b> has high-level access to view and analyze overall business performance and strategic data.</li>
                        <li><b>Managers</b> oversee specific departments or projects, with permissions to manage teams and resources within their scope.</li>
                        <li><b>Employees</b> have access to perform their job-specific tasks and manage daily operations.</li>
                    </ul>
                    This role-based system ensures that users have appropriate access and permissions according to their responsibilities, enhancing security and efficiency.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}