{% extends 'base/base.html' %}

{% block page_title %}CONTACT{% endblock page_title %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Contact us</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                <h4 class="fw-bold fs-h4">!!!VAŽNO!!!</h4>
                <p class="fw-bold">
                    Ovo je demo aplikacija za:
                    <a href="https://www.algebra.hr/cjelozivotno-obrazovanje/programi/razvoj-web-aplikacija-u-programskom-jeziku-python/"
                       target="_blank">
                        <b>
                            <em>
                                Program obrazovanja za stjecanje mikrokvalifikacije razvoj web aplikacija u programskom
                                jeziku Python
                            </em>
                        </b>
                    </a>. Za prijave ili više informacija kliknite <a
                        href="https://www.algebra.hr/cjelozivotno-obrazovanje/programi/razvoj-web-aplikacija-u-programskom-jeziku-python/"
                        target="_blank">ovdje</a>
                    ili se javite preko <a href="https://www.algebra.hr/cjelozivotno-obrazovanje/kontakt/"
                                           target="_blank">kontakt forme</a>
                </p>
                <h4 class="fw-bold fs-h4">Disclaimer</h4>
                <p>
                    Izgled ove aplikacije je baziran na Bootstrap temi <a
                        href="https://startbootstrap.com/previews/sb-admin-2" target="_blank"><em>SB Admin
                                                                                                  2</em></a>.<br>
                    Ikone i grafike korištene u aplikaciji su preuzete sa stranice: <a
                        href="https://www.freepik.com/author/stories" target="_blank"><em>Freepik Storysets</em></a>.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}