{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}INVOICE UPDATE{% endblock page_title %}

{% block content %}
    <!-- Page Heading -->
<div class="row mb-3">
    <div class="d-flex flex-row justify-content-between align-items-center col-md-12 ">
        <div class="col-md-8">
            <h1 class="h3 mb-0 text-gray-800">Update Invoice</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end mt-3 mb-0">
            <a class="btn btn-outline-success mb-4" href="{% url 'sales:invoices' %}" role="button">Back</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Update" class="btn btn-success">
                </form>
            </div>
            <div class="col-md-4 offset-md-4">
                <h1 class="h4 mb-4 text-gray-800">Invoices Description</h1>
                <p>
                    The Invoice model in the Django web application represents a formal billing document issued to customers.
                    It includes crucial information such as:
                    <ul>
                        <li><b>Invoice Number</b> A unique identifier for tracking purposes.</li>
                        <li><b>Customer Information</b> Details about the recipient, including name, address, and contact details.</li>
                        <li><b>Itemized List</b> A breakdown of products and services provided, along with their quantities and prices.</li>
                        <li><b>Total Amount Due</b> The sum of all charges, including any applicable taxes and discounts.</li>
                        <li><b>Payment Terms</b> Information on due dates, payment methods, and late fee policies.</li>
                        <li><b>Issuer Information</b> Details about the company issuing the invoice, such as name, address, and contact information.</li>
                    </ul>
                    The Invoice model ensures that billing is accurate and professional, facilitating smooth financial transactions and record-keeping between the company and its customers.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}