{% extends 'base/base.html' %}

{% block page_title %}OFFERS{% endblock page_title %}

{% block content %}
    <!-- Page Heading -->
<div class="row">
    <div class="d-flex flex-row justify-content-between align-items-center col-md-12 ">
        <div class="col-md-8">
            <h1 class="h3 mb-4 text-gray-800">Offers</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a class="btn btn-success mb-4" href="{% url 'sales:offers-add' %}" role="button">Add</a>
        </div>
    </div>
    <div class="col-md-8">
        <!-- DataTale -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Total</th>
                                <th>Dates</th>
                                <th>Products</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offer_list %}
                                <tr>
                                    <td>
                                        <a class="fw-bold text-decoration-none " href="{% url 'sales:offers-detail' pk=offer.id %}" role="button">
                                            {{ offer.offer_number }}
                                        </a><br/><br/>
                                        <a class="text-decoration-none " href="{% url 'sales:customers-detail' pk=offer.customer.id %}" role="button">
                                            {% if offer.customer.last_name %}
                                                {{ offer.customer.name }} {{ offer.customer.last_name }}<br/>
                                            {% else  %}
                                                {{ offer.customer.name }}<br/>
                                            {% endif %}
                                            {% if offer.customer.vat_id %}
                                                {{ offer.customer.vat_id }}<br/>
                                            {% endif %}
                                            {{ offer.customer.city }}, {{ offer.customer.country }}<br/>
                                        </a>
                                    </td>
                                    <td>
                                        Total: {{ offer.total|floatformat:2 }} EUR<br/>
                                        Tax: {{ offer.total_tax|floatformat:2 }} EUR<br/>
                                        <b>Total sum: {{ offer.total_sum|floatformat:2 }} EUR</b>
                                    </td>
                                    <td style="width: 25%;">
                                        Created:<br/>{{ offer.date_created|date:"l, d. E Y." }}<br/>
                                        Valid to:<br/>{{ offer.valid_to|date:"l, d. E Y." }}
                                    </td>
                                    <td>
                                        {% if offer.products.all %}
                                            <ul>
                                                {% for product in offer.products.all %}
                                                    <li>
                                                        <a class="text-decoration-none"
                                                           href="{% url 'products:products-detail' pk=product.id %}"
                                                           role="button">
                                                            {{ product.name }} ({{ product.total_price|floatformat:2 }}) EUR
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            There are no products added<br/>
                                            to Offer {{ offer.offer_number }}!<br/>
                                            <a class="text-decoration-none"
                                               href="{% url 'sales:offers-update' pk=offer.id %}">
                                                Add one
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ offer.get_status_display }}
                                    </td>
                                    <td style="width: 15%;">
                                        <a class="btn btn-outline-info" href="{% url 'sales:offers-update' pk=offer.id %}" role="button">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" href="{% url 'sales:offers-delete' pk=offer.id %}" role="button">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Include pagination -->
                {% include 'components/pagination.html' with page_obj=page_obj %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1 class="h4 mb-4 text-gray-800">Offers Description</h1>
        <p>
            The Offer model in the Django web application represents a business document generated for customers.
            It includes detailed information about the services and products being proposed, along with their associated
            costs.
            Key components of an offer include:
            <ul>
                <li><b>Customer Information</b> Details about the recipient of the offer.</li>
                <li><b>Product and Service List</b> A comprehensive list of the items and services included in the offer.
                </li>
                <li><b>Pricing</b> Individual and total costs, including any applicable taxes and discounts.</li>
                <li><b>Terms and Conditions</b> Payment terms, delivery timelines, and other contractual details.</li>
            </ul>
            The Offer model helps streamline the process of creating, managing, and sending professional proposals to
            customers, ensuring clarity and accuracy in business transactions.
        </p>
    </div>
</div>
{% endblock content %}